@model CharecterEntities.Item

@{
    ViewBag.Title = Model.Name;
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExpendable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExpendable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseAc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseAc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StealthDisadvantage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StealthDisadvantage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Light)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Light)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoHanded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoHanded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finesse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finesse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thrown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thrown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Veristile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veristile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Heavy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heavy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Special)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Special)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VeristileDmg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VeristileDmg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
